doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/slide-1.md
      include ../slides/slide-2.md
      include ../slides/slide-4-policy.md
      include ../slides/slide-5-berks.md
      include ../slides/slide-6-patterns.md
      include ../slides/slide-7-closing.md
    include inc/scripts
