doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/slide-1.md
      include ../slides/policy.md
      include ../slides/patterns.md
      include ../slides/role.md
      include ../slides/environments.md
      include ../slides/berks.md
      include ../slides/use.md
      include ../slides/automation.md
      include ../slides/conclusion.md
    include inc/scripts
